
body {
    font-family: 'Montserrat', sans-serif;
    color: #112d4e;
    box-sizing: border-box;
    background: linear-gradient(to right,#dbe2ef, #b8c8e7);
}
header {
  max-height: 10vh;
}

section {
  max-height: 90vh;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper-cards {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
}
.head-bar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#112d4e, #173d68);
    color: #f9f7f7;
    align-items: center;
    border-radius: 10px;
    height: 10vh;
}
.logo {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.head-bar a {
    color: #f9f7f7;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    transition: all 0.2s ease-in;
}
.head-bar a:hover {
    background-color: #dbe2ef;
    color: #112d4e;
    font-weight: 600;
    
}
.navigation {
    list-style: none;
    display: flex;
}

.head-bar ul li {
    margin-right: 20px;
}

.head-img {
    background: linear-gradient(to right,#3f72af, #37649b);
    text-align: center;
    position: relative;
    }

.img-head {
      width: 100%;
      object-fit: cover;
      box-sizing: border-box;
    }

.title-subtitle {
  position: absolute;
  top: 150px;
  width: 80%;
  left: calc(50% - 40%);
  z-index: 1;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 99, 236, 0.3);
}    

.title {
    padding-top: 5vh;
    color: white;
    font-size: 5rem;
}  

.subtitle {
    color: white;
    font-size: 3rem;
}    

.slider {
    text-align: center;
    margin-top: 20px;
}

.slider img {
    width: 100%;
    object-fit: cover;
    padding: 0;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.card {
    background-color: #e8e8f3;
    margin: 50px 10px;
    padding: 30px;
}

footer.wrapper {
    text-align: center;
    border-top: 1px solid white;
    margin-top: 150px;
}

i {
  font-size: 1.5em;
}

/* HAMBURGER LINES */
.hamburger {
  cursor: pointer;
  display: none;
  margin-right: 15px;
  position: absolute;
  top:18px;
  right: 5%;
}
.line {
  width: 50px;
  height: 5px;
  border-radius: 2px;
  background-color: #dbe2ef;
  margin: 7px;
}


@media screen and (max-width: 768px) {

  .navigation {
    top:0px;
    left: 0;
    margin: 0;
    height: 100vh;
    z-index: 3;
    flex-direction: column;
    width: 100%;
    position: fixed;
    background: linear-gradient(to right,#dbe2ef, #697fac);
    clip-path: circle(10px at 90% -10%);
    transition: all 0.4s ease-out;
  }
  .open {
    clip-path: circle(750px at 90% -10%);
  }

  .head-bar ul li {
    padding: 33px;
    
  }
  .head-bar ul li a {
    color:rgb(22, 22, 99);
  }
  .hamburger {
    display: block;
    z-index: 3;
  }
}
